# ── Data (download from Kaggle, never commit) ──────────
data/*

# ── Checkpoints (large files) ──────────────────────────
/checkpoints/*


# ── Generated outputs (recreated on run) ───────────────
logs/*
!logs/.gitkeep
!outputs/.gitkeep

# ── Python cache ───────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo

# ── OS junk ────────────────────────────────────────────
.DS_Store
Thumbs.db

# ── Virtual environments ────────────────────────────────
venv/
.venv/
env/

# ── IDE ─────────────────────────────────────────────────
.idea/
.vscode/
*.swp